html, body {
    font-family: 'sans-serif', system-ui, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    background-color: ghostwhite;
}
header {
    margin: 0 0 40px 0;
    padding: 0;
    height: 70px;
    border-bottom: 3px solid red;
    box-shadow: 0px 0px 20px 6px rgba(10, 0, 0, 0.20);
}
header > h1 {
    color: rgba(19, 16, 16, 0.96);
    margin: 0;
    padding: 17px;
}
aside {
    position: fixed;
    border: 3px solid rgb(169, 19, 19);
    border-left: none;
    background-color: rgb(235, 229, 229);
    max-width: 18%;
    padding: 10px 20px 10px 3px;
    margin: 150px 0 0 0;
    border-radius: 0 5px 5px 0;
}
.players {
    color: rgba(19, 16, 16, 0.96);
    padding: 60px 10px 10px 10px;
    text-align: left;
}
.player-contents {
    margin-top: 15px;
    overflow: auto;
}
#player-add {
    top: 7px;
    left: 10px;
    position: absolute;
    border: 0.25px solid rgb(20, 130, 16);
    background-color: rgb(20, 130, 16);
    border-radius: 4px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
#player-add:hover {
    box-shadow: 0 0 5px 0 rgb(20, 130, 16);
}
#player-add:active {
    transform: translateY(2px);
    transition: 0.25s;
}
#clear-gameBoard-btn {
    background-color: rgb(169, 19, 19);
    border: 0.25px solid rgb(169, 19, 19);
    border-radius: 4px;
    padding: 5px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    top: 8px;
    left: 10px;
    position: absolute;
}
#clear-gameBoard-btn:hover {
    box-shadow: 0px 0px 5px 0px rgb(182, 30, 30);
}
#clear-gameBoard-btn:active {
    transform: translateY(2px);
    transition: 0.25s;
}
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid darkgray;
}
.close-button {
    color: rgb(29, 29, 29);
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}
.close-button:hover, 
.close-button:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.modal-content {
    margin: 100px auto;
    padding: 15px;
    width: 40%;  
    border: 2px solid red;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0);
    background-color: rgb(218, 211, 211);
    border-radius: 12px;
}
.modal-content > h3 {
    color: rgb(22, 22, 22);
}
.form-labels {
    font-weight: bold;
    float: left;
    color: rgb(23, 20, 20);
}
.form-control {
    width: 70%;
    padding: 3px 3px 3px 10px;
    margin: 10px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(176, 223, 252);
}
.form-control:focus-visible {
    outline: none;
    box-shadow: 0px 0px 3px 2px lightskyblue;
    border: 1px solid transparent;
}
#form-submit-btn {
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
    background-color: royalblue;
    margin: 10px 10px 10px 10px;
    padding: 10px 30px 10px 30px;
}
#form-submit-btn:hover {
    box-shadow: 0px 0px 3px 2px royalblue;
}
#form-submit-btn:active {
    transform: translateY(1px);
}
.blur-background {
    filter: blur(5px);
}
main {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 75%;
}
#game-board-container {
    margin: 100px 0 125px 0;
    padding: 10px;
    margin-inline: auto;
    display: grid;
    overflow: auto;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: darkgray;
    box-shadow: 0px 0px 20px 4px rgb(84,84,84);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gameBoard-divs {
    display: inline-grid;
    border: 0.25px solid red;
    margin: 0.5px;
    background-color: lightgray;
    border-radius: 8px;
    align-content: center;
    font-size: xxx-large;
}
.gameBoard-divs:hover {
    background-color: gainsboro;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 70px;
    background-color: darkgray;
    border-top: 3px solid red;
    box-shadow: 1px -12px 20px 6px rgba(10, 0, 0, 0.20);
}
footer > h1 {
    margin: 0;
    color: rgba(19, 16, 16, 0.96);
    padding: 20px 0 0 0;
}
footer > h1 > a {
    text-decoration: none;
    color: rgb(186, 0, 0);
}
footer > h1 > a:hover {
    color: rgb(186, 0, 0);
    text-decoration: underline;
}